<div class="wrapper">
  <div class="container">
  
    <form [formGroup]="homeform" (keyup.enter)="onSubmit()" #localform="ngForm">
      <h1>Form</h1>
    
      <!-- name -->
      <label>Nome:</label>
      <input [class.border-red]="name?.invalid && name?.touched" type="text" name="name"  formControlName="name">
      
      <div *ngIf="name?.invalid && name?.touched">
        <p class="red" *ngIf="name?.errors?.['required']">Inserisci un nome</p>
        <p class="red" *ngIf="name?.errors?.['minlength']">Il nome deve avere un minimo di 3 caratteri</p>
      </div>
      <!-- name end -->
      
      <!-- surname -->
      <label>Cognome:</label>
      <input [class.border-red]="surname?.invalid && surname?.touched" type="text" name="surname" formControlName="surname">
      
      <div *ngIf="surname?.invalid && surname?.touched">
        <p class="red" *ngIf="surname?.errors?.['required']">Inserisci un nome</p>
        <p class="red" *ngIf="surname?.errors?.['minlength']">Il nome deve avere un minimo di 3 caratteri</p>
      </div>
      <!-- surname end-->
  
      <!-- email -->
      <label>Email:</label>
      <input [class.border-red]="email?.invalid && email?.touched" type="email" name="email" formControlName="email">
  
      <div *ngIf="email?.invalid && email?.touched">
        <p class="red" *ngIf="email?.errors?.['required']">Inserisci una mail valida</p>
      </div>
      <!-- email end -->
  
  
      <!-- code -->
      <label>Codice Fiscale:</label>
      <input [class.border-red]="cod?.invalid && cod?.touched" type="text" name="cod" formControlName="cod">
  
      <div *ngIf="cod?.invalid && cod?.touched">
        <p class="red" *ngIf="cod?.errors?.['required']">Inserisci codice fiscale</p>
        <p class="red" *ngIf="cod?.errors?.['minlength']">inserisci un codice fiscale valido (min. 16 caratteri)</p>
      </div>
      <!-- code end-->
  
      <!-- note -->
      <label>Note</label>
      <textarea name="note" cols="30" rows="10" formControlName="note"></textarea>
      <!-- note end-->
  
      <!-- address nested form -->
      <div class="addressForm" formGroupName="address">
        <h1>Address:</h1>

        <label>Street:</label>
        <input type="text" formControlName="street">
  
        <label>Country:</label>
        <input type="text" formControlName="country">

        <label>Region:</label>
        <input type="text" formControlName="region">
      </div>
      
      <!-- address nested form -->

      <!-- <button type="submit" (onclick)="onSubmit()">Submit</button> -->
    
      <p>Press Enter to submit</p>
    </form>

    <div class="formValue" *ngIf="homeform.valid && display == true">
      <h1>choosen values:</h1>
        <p> <span>Name:</span>  {{homeform.value.name}}</p>
        <p> <span>Surname:</span> {{homeform.value.surname}}</p>
        <p> <span>email:</span> {{homeform.value.email}}</p>
        <p> <span>cod:</span> {{homeform.value.cod}}</p>
        <p> <span>street:</span>{{homeform.controls['address'].value.street}}</p>
        <p> <span>country:</span> {{homeform.controls['address'].value.country}}</p>
        <p><span>region:</span> {{homeform.controls['address'].value.region}}</p>
    </div>

  </div>

  
</div>


  