.container {
    width: 27%;
    margin: auto;
}
form {
    display: flex;
    flex-direction: column;
}

/* p {
    display: none;
}

.display {
    display: block;
} */

.border-red {
    border: 1px solid red;
}

.red {
    color: red;
}